[submodule "Server"]
	path = Server
	url = https://github.com/pamod-madubashana/MySite-Backend
[submodule "personalSite"]
	path = personalSite
	url = https://github.com/pamod-madubashana/MySite-Frontend
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/pamod-madubashana/portfolio-source-code
